.MJR {
    text-align: center;
    width: 75%;
}

.JobListing {
  margin-top: 20px;
}

.JobListing ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.listHeading {
    background: #aaa;
    color: white;
}

.listHeading li {
    width: 300px;
    font-weight: bolder;
    padding: 10px;
}

.GlobalMJRMenu li a {
  text-decoration: none;
}

.GlobalMJRMenu li a:hover {
  color: #0045d0;
  text-decoration: underline;
}


.GlobalMJRMenu li {
  border-right: 2px solid #000;
  padding: 1px;
  padding-right: 10px;
}

.GlobalMJRMenu li:last-child {
  border-right: 0px;
}

.JobListing li {
    float: left;
    margin-left: 10px;
}

.listingDetails li {
    padding: 20px;
    text-align: center;
}

.notificationBar {
    height: 25px;
    background: #299829;
    color: white;
    width: 100%;
    position: fixed;
    padding: 14px;
    bottom: 0px;
    left: 0px;
}

.hideMe10 {
    -webkit-animation: cssAnimation 10s forwards;
    animation: cssAnimation 10s forwards;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.icon {
    height: 20px;
    margin-left: 180px;
    margin-right: 15px;
}

.message {
    color: white;
    font-size: medium;
}

.closeBtn {
    /* right: 0px; */
    float: right;
    margin-top: -20px;
    margin-right: 50px;
    font-weight: bold;
}

.loader {
    color: #ff8600;
    font-weight: 600;
    font-size: 19px;
    padding: 15px;
    left: 30%;
    top: 50%;
    font-family: ubuntu;
    position: fixed;
}

.loaderGIF {
    left: 50%;
    top: 45%;
    position: fixed;
    height: 50px;
    width: 50px;
    display: block;
    background-image: url(/Images/hourglass.svg);
}

.layer {
    width: 1351px;
    height: 1482px;
    z-index: 1000;
    display: block;
    position: fixed;
    opacity: 0.3;
    background: black;
    left: 0;
    top: 0;
    color: red;
}

.JobListing-logo {
    animation: JobListing-logo-spin infinite 20s linear;
    height: 80px;
}

.JobListing-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
}

.JobListing-intro {
    font-size: large;
}

@keyframes JobListing-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(2deg);
    }
}

#mainTab {
    border-bottom: 1px solid #b3b3b3;
    height: 26px;
}
